*{
    border: 1px solid black;
}
 body{
    display: grid;
    grid-template-rows: auto 100% auto;
//     grid-template-areas: 
//     "headers"
//     "main"
//     "footer";
//     grid-template-columns:fit-content
//  }
// .headers{
//     grid-area: headers;
//     text-align: left;
//  }
// .main{
//     grid-area: main;
//     text-align: right;
// }
// .footer{
//     grid-area: footer;
//     text-align: right;
}