@import 'variablesSCSS.scss';

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 70% 15% 15%;
    background-color: $color-footer;
    div{
        display:flex;
        align-items: center;
        color:$color_fuente_footer;
        a{
            color: $color_fuente_footer;
            text-decoration: none;
        }
        &:nth-child(2),&:last-child{
            text-align: right;
        }
        &:last-child{
            ul{
                list-style-type: none;
            }
        }
    }
}

.footerAbs{
    position: absolute;
    bottom: 0;
}

.footerRel{
position: relative;
bottom: 0;
}