footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: "logo logo logo contacto rrss";
    // align-items: center;
    background-color: white;
}
.logo{
    grid-area:logo;
    text-align: left;
}
.contacto{
    grid-area: contacto;
    justify-content: center;
    align-items: center;
    text-align: right;
}
.rrss{
    grid-area: rrss;
    justify-content: center;
    align-items: center;
    text-align: right;
}