@import 'variablesSCSS.scss';
header{
    display: grid;
    grid-template-columns: 85% 5% 5% 5%;
    background-color: $color_fuente_footer;
    div{
        display:flex;
        align-items: center;
        &:nth-child(2),&:last-child{
            text-align: right;
        }
    }
}
