header{
    display: grid;
    grid-template-columns: 90% 5% 5%;
    background-color: white;
    div{
        display:flex;
        align-items: center;
        &:nth-child(2),&:last-child{
            text-align: right;
            justify-content: flex-end;
        }
    }
}
