@import 'variablesSCSS.scss';

@mixin button{
    padding: 5px;
    border-radius: 10px;
    color: $color_fuente_footer;
    background-color:$color-footer;
    text-decoration: none;
    font-size: small;
    font-family: sans-serif;
}
@mixin divsMainMenu{
    display:flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
@mixin textStyle{
        font-weight: bold;
        font-family: sans-serif;
}