@import 'scss/variablesSCSS.scss';
@import 'scss/mixinSCSS.scss';
@import 'scss/bodySCSS.scss';
@import 'scss/headerSCSS.scss';
@import 'scss/footerSCSS.scss';
@import 'scss/listadoSCSS.scss';
body{
    background-image: url(batllo.jpeg);
    background-size: cover;
    background-color: rgba(255,255,255,0.6);
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: inherit;
}
.button{
    @include button; 
}

.paginaIndex{
    display:grid;
    grid-template-rows: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
    min-height: 100vh;
    h1{
        display:flex;
        margin: auto;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end:3;
    }
    table{
        display:flex;
        margin: auto;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end:3;
    }
    p{
        display:flex;
        margin: auto;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end:3;
    }
}