@import 'scss/variablesSCSS.scss';
@import 'scss/mixinSCSS.scss';
@import 'scss/bodySCSS.scss';
@import 'scss/headerSCSS.scss';
@import 'scss/footerSCSS.scss';
@import 'scss/listadoSCSS.scss';
body{
    background-image: url(batllo.jpeg);
    background-size: cover;
    background-color: rgba(255,255,255,0.6);
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100%;
}
a{
    text-decoration: inherit;
    color: $color_links;
}
.button{
    @include button; 
}
.mainMenu{
    @include textStyle;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    div{
        @include divsMainMenu;
        padding: 15px;
    }
    a{
        margin-top: 40px;
        height: 15px;
        width: 80px;
        text-align: center;
    }
    div:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 2;
    }
    div:nth-child(2){
        grid-column-start: 2;
        grid-column-end: 3;
    }
    div:nth-child(3){
        grid-column-start: 3;
        grid-column-end: 4;
    }
}
.test{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.formulario{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    h1{
        grid-column-start: 4;
        grid-column-end: 6;
        text-align: center;
    }
    form{
       grid-column-start: 4; 
       grid-column-end: 6; 
       background-color: $grey;
       padding: 5%;
       border-radius: 30px;
        table{
            tbody{
                tr{
                    td{
                        input{
                            border-radius: 7px;
                        }
                        textarea{
                            width: 100%;
                            height: 100px;
                            resize: none;
                        }
                    }
                    .lbl{
                        text-align: left;
                    }
                }
            }
       }
    }

}
.containerMainAdmin{
    display:flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    @include textStyle;
    div{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        background-color: $color_fondo_divs;
        border-radius: 10%;
        box-shadow: $sombreado_divs;
        padding: 20px;
        padding-right: 40px;
        ul{
            li:nth-child(1){
                margin-bottom: 40px;
            }
            li:nth-child(2){
                margin-bottom: 40px;
            }
            a{
                text-align: center;
                text-decoration: none;

            }
            a:hover{
                color: $color_links_hover;
                text-decoration: underline;
            }
        }
    }
    a{
        margin-top: 20px;
        width: 35px;
    }
}
.containerPerfilAlumno{
    @include textStyle;
    display: grid;
    grid-template-columns: 1fr 80%;
    .foto{
        width: 150px;
        height: 150px;
        grid-column-start: 1;
        grid-column-end: 2;
        img{
            background-color: $color_fondo_divs;
            border-radius: 100%;
        }
    }
    .tabla{
        width: 350px;
        grid-column-start: 1;
        grid-column-end: 2;
        th{
            width: 150px;
            text-align: center;
            font-weight: bolder;
        }
        td{
            text-align: center;
        }
    }
    a{
        width: 35px;
        margin-top: 15px;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}