header {
  display: grid;
  grid-template-columns: 90% 5% 5%;
  background-color: rgb(255, 255, 255);
}
header div {
  display: flex;
  align-items: center;
}
header div:nth-child(2), header div:last-child {
  text-align: right;
}

footer {
  /*position: fixed;
  bottom: 0;
  width: 100%;*/
  display: grid;
  grid-template-columns: 70% 15% 15%;
  background-color: rgb(0, 0, 0);
}
footer div {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
footer div a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer div:nth-child(2), footer div:last-child {
  text-align: right;
}
footer div:last-child ul {
  list-style-type: none;
}

.listado {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1r);
}
.listado .buscador {
  padding-top: 10px;
  padding-bottom: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-start: 2;
  font-family: sans-serif;
  font-weight: bold;
}
.listado .tabla {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-start: 3;
  background-color: rgba(214, 214, 214, 0.6);
  border-radius: 20px;
  padding: 10px;
  grid-column-start: 2;
  grid-column-end: 3;
}
.listado .tabla td {
  padding-right: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: sans-serif;
}
.listado .tabla .indice {
  font-size: 2em;
}
.listado .lbl {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-start: 4;
  font-family: sans-serif;
  font-weight: bold;
}
.listado h1 {
  text-align: center;
  font-family: sans-serif;
}

body {
  background-image: url(batllo.jpeg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0%;
  padding: 0%;
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100%;
}

a {
  text-decoration: inherit;
  color: black;
}

.button {
  padding: 5px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: small;
  font-family: sans-serif;
  position: relative;
  bottom: 0;
}

.mainMenu {
  font-weight: bold;
  font-family: sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
}
.mainMenu div {
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.mainMenu a {
  margin-top: 40px;
  height: 15px;
  width: 80px;
  text-align: center;
}
.mainMenu div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.mainMenu div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.mainMenu div:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.test {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  font-family: sans-serif;
  resize: none;
}
.formulario h1 {
  grid-column-start: 4;
  grid-column-end: 6;
  text-align: center;
}
.formulario form {
  grid-column-start: 4;
  grid-column-end: 6;
  background-color: rgba(214, 214, 214, 0.6);
  padding: 5%;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.formulario form table tbody tr td input {
  border-radius: 7px;
}
.formulario form table tbody tr td textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.formulario form table tbody tr .lbl {
  text-align: left;
}

.containerMainAdmin {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  font-weight: bold;
  font-family: sans-serif;
}
.containerMainAdmin div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
  padding-right: 40px;
}
.containerMainAdmin div ul li:nth-child(1) {
  margin-bottom: 40px;
}
.containerMainAdmin div ul li:nth-child(2) {
  margin-bottom: 40px;
}
.containerMainAdmin div ul a {
  text-align: center;
  text-decoration: none;
}
.containerMainAdmin div ul a:hover {
  color: blue;
  text-decoration: underline;
}
.containerMainAdmin a {
  margin-top: 20px;
  width: 35px;
}

.containerPerfilAlumno {
  font-weight: bold;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 80%;
}
.containerPerfilAlumno .foto {
  width: 150px;
  height: 150px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.containerPerfilAlumno .foto img {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
}
.containerPerfilAlumno .tableta {
  width: 350px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.containerPerfilAlumno .tableta th {
  width: 150px;
  text-align: center;
  font-weight: bolder;
}
.containerPerfilAlumno .tableta td {
  text-align: center;
}
.containerPerfilAlumno a {
  width: 35px;
  margin-top: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.containerPerfilAlumno .studentGrade {
  font-style: italic;
}

.disponibles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
.disponibles div {
  margin-top: 15px;
  width: 350px;
  background-color: rgba(214, 214, 214, 0.6);
  padding: 15px;
  border-radius: 20px;
}
.disponibles div h1 {
  text-align: center;
}/*# sourceMappingURL=mainSCSS.css.map */